Question: why variable is useful: A lot of time we have to repeatedly use a value, assigning it to a variable makes the recyclying easy

In [5]:
# create a list of 10 arbitrary numeric elements, assign it to a variable "myfirstlist"
myfirstlist = [2,3,4,1,5,3,32,54,65,1]
len(myfirstlist)

10

In [6]:
# append another numeric value to the list.
myfirstlist.append(999)
myfirstlist

[2, 3, 4, 1, 5, 3, 32, 54, 65, 1, 999]

In [7]:
# remove the last value from the list
myfirstlist.pop()
myfirstlist

[2, 3, 4, 1, 5, 3, 32, 54, 65, 1]

In [9]:
# create another list of 5 arbitrary numeric elements, assign it to variable "anotherlist"
anotherlist = list(range(5))
anotherlist

[0, 1, 2, 3, 4]

In [11]:
print(myfirstlist[0])
print(myfirstlist[0:9])
print(myfirstlist[0:9:2])
print(myfirstlist[-1])
print(myfirstlist[-2])

2
[2, 3, 4, 1, 5, 3, 32, 54, 65]
[2, 4, 5, 32, 65]
1
65

In [12]:
myfirstlist + anotherlist # this is called concatenation

[2, 3, 4, 1, 5, 3, 32, 54, 65, 1, 0, 1, 2, 3, 4]

In [13]:
next_list = anotherlist * 3
print(nextlist)

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [18]:
# nested list
last_list = [anotherlist,anotherlist, anotherlist]
last_list

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [20]:
last_list[0][0] = 12345
print(last_list)

[[12345, 1, 2, 3, 4], [12345, 1, 2, 3, 4], [12345, 1, 2, 3, 4]]

In [21]:
list_here = list(range(0, 101, 10)) # create this list
list_here

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [23]:
# Using a for-loop, print only the values that are multiples of 3
for lol in list_here:
    if lol % 3 == 0:
        print(lol)
    else:
        print("not multiple of 3")

0
not multiple of 3
not multiple of 3
30
not multiple of 3
not multiple of 3
60
not multiple of 3
not multiple of 3
90
not multiple of 3

In [24]:
# Using a for-loop, add 5 to each value in the list - hint: "for i in range(11)"
for i in range(11):
    list_here[i] += 5 # list_here[i] = list_here[i] + 5

print(list_here)

[5, 15, 25, 35, 45, 55, 65, 75, 85, 95, 105]

In [27]:
# take a look inside range
ran = range(10)
print(ran)
print(list(ran))
type(ran)

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

range

In [29]:
# using a while-loop, find out how many elements from the list are smaller than 40
count = 0 # keep count
i = 0 # track index

while list_here[i] < 40:
    count += 1
    i += 1

print(count)

4

In [2]:
def factorial(x):
    if x > 0:
        fact = x # short for factorial, set initial value as x
        i = x - 1 # the next value to be multiply over

        if i > 1:
            fact *= i
            i -= 1
        return(fact)
    elif x == 0:
        return(1)
    else:
        return("not defined for negative values")

In [4]:
factorial(3)

6

In [43]:
import pandas as pd
avocado_df = pd.read_csv("avocado.csv")

In [44]:
count = 0
for x in avocado_df.AveragePrice:
    if x > 1.35:
        count += 1
count

9411

In [45]:
def mms(column):
    mean = column.mean()
    median = column.median()
    standard_deviation = column.std()
    print("mean=" + str(mean) + ", median=" + str(median) + ", sd=" + str(standard_deviation))

mms(avocado_df.AveragePrice)

mean=1.4059784097758825, median=1.37, sd=0.40267655549555004

In [46]:
names = ["Total Bags", "Small Bags", "Large Bags"]

for i in range(3):
    print("for " + names[i] + ":")
    mms(avocado_df[names[i]])

for Total Bags:
mean=239639.20205983953, median=39743.83, sd=986242.3992164129
for Small Bags:
mean=182194.68669571026, median=26362.82, sd=746178.5149617859
for Large Bags:
mean=54338.08814455636, median=2647.71, sd=243965.9645474206